<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lahand.dao.IStudentDAO" >

  <resultMap id="BaseResultMap" type="com.lahand.dao.model.Student" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    Id, Name
  </sql>

  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM STUDENT
    WHERE Id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByList" resultMap="BaseResultMap" parameterType="com.lahand.dao.model.Student" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM STUDENT
    WHERE 1=1 
    <if test="id != null" >
      AND Id = #{id,jdbcType=INTEGER}
    </if>
    <if test="name != null and name != ''" >
      AND Name = #{name,jdbcType=VARCHAR}
    </if>
  </select>

  <delete id="deleteById" parameterType="java.lang.Integer" >
    DELETE FROM STUDENT
    WHERE Id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.lahand.dao.model.Student" >
    INSERT INTO STUDENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="name != null and name != ''" >
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null and name != ''" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateById" parameterType="com.lahand.dao.model.Student" >
    UPDATE STUDENT
    <set >
      <if test="name != null and name != ''" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    WHERE Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>